* {
    box-sizing: border-box;
}

/*   Elements Styling    */
body {
    background-color: beige;
    max-width: 90%;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}



input[type=text] {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}

header {
    margin-bottom: 30px;
}

hr {
    margin-left: 100px;
    margin-bottom: 50px;
}

/*   Class Styling    */
.card {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    
    margin-left: 100px;
    
}

.details {
    display: flex;
}




/*   ID Styling    */

#left-aligning {
    text-align: left;
}

#textUrl {
    width: 30%;
}

#descText {
    margin-right: 50px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

