* {
    box-sizing: border-box;
}

/*   Elements Styling    */

body {
    background-color: beige;
    max-width: 90%;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

input[type=text] {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}

header {
    margin-bottom: 30px;
}

hr {
    margin-left: 100px;
    margin-bottom: 50px;
}

.btnDel {
    color: red;
}