* {
    box-sizing: border-box;

}

/*      HTML COMPONENTS     */
h1 {
    text-align: center;
}

/*      CSS CLASSES     */
.instruct {
    text-align: center;
}

.footerStyle {
    text-align: center;
    background-color: black;
    height: 70px;
    color: white;
    padding-top: 20px;
}

.copyright {
    color: lightgrey;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: inline-block;
    margin-left: 2rem;
}

.boxes {
    margin-left: 16rem;
}