* {
    box-sizing: border-box;
}
#grid-style {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    /* definitions of template areas:
        h - header section 
        d - designs/alternate 
        a - about/enlightment section 
        w - writer/coder copyright section 
        b - benefits/participation section 
        l - links/downloads section 
        r - requirements section 
        e - empty
        c - authors/copyright section 
        f - footer section 
        */
    grid-template-areas: 
        "h h h h h h"
        "d d d d d d"
        "a a a a a a"
        "b b b b b b"
        "r r r r r r"
        "c c c c c c"
        "f f f f f f"
        "w w w w w w"
        "l l l l l l"
        /*
        "h h h h h h h h d d d d"
        "a a a a a a a a w w w w"
        "b b b b b b b b l l l l"
        "r r r r r r r r e e e e"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";*/
}

.grid-item {
    border: 1px solid black;
}

header {
    grid-area: h;
    background-image: url(./img/huntington.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
    height: 12rem;
    padding-left: 4.5rem;
    padding-top: 4rem;
}

.designs-sec {
    grid-area: d;
    background-image: url(./img/huntington.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    height: 4rem;
}

.about-sec {
    grid-area: a;
    padding: 0 15px;
}

.writers-sec {
    grid-area: w;
    
    background-color: #d9e3dc;
    display: flex;
    
}

.writers-sec ul {
    list-style-type: none;
    flex-wrap: nowrap;
    
}

.writers-sec ul li a {
    text-decoration: none;
}

.benefits-sec {
    grid-area: b;
    background-color: rgba(138,188,159,0.5);
    padding: 0 15px;
}

.links-sec {
    grid-area: l;
    background-color:  rgba(138,188,159,0.5);
    display: flex;
}

.links-sec ul {
    list-style-type: none;
    font-size: 12px;
    
    flex-wrap: nowrap;
}

.links-sec ul li a {
    text-decoration: none;
}

.require-sec {
    grid-area: r;
    padding: 0 15px;
}

.empty-sec {
    grid-area: e;
}

.authors-sec {
    grid-area: c;
    background-image: url(./img/koi.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 11em;
    padding: 0 15px;
}

footer {
    grid-area: f;
    border: 1px solid black;
    height: 8em;
    background-color: #134347;
}

.social-container {
    display: flex;
}

body {
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
}

h1 {
    padding-bottom: 0;
    color: #fff;
}

h2 {
    font-size: 16px;
    padding-top: 0;
    color: #fff;
}

.fa-brands {
    color: white;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 40px;
    margin-left: 14px;
}


/*  Media Queries */

@media screen and (min-width: 69em) {
    #grid-style {
        grid-template-areas: 
        "h h h h h h h h d d d d"
        "a a a a a a a a w w w w"
        "b b b b b b b b l l l l"
        "r r r r r r r r e e e e"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    }
    
}