* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;

}

nav > h3 {
    margin-right: auto;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 1rem;
}

h3 {
    margin-left: 2rem;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    color: rgba(0, 0, 0, 0.55);
    padding-right: 4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
}

a {
    text-decoration: none;
}