* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;

}

nav > h3 {
    margin-right: auto;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    color: black;
    padding-right: 4em;
}

a {
    text-decoration: none;
}