img {
    width: 300px;
}

form {
    width: 95%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

input {
    margin-bottom: 15px;
}

p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.img-container {
    text-align: center;
}

.flex-container {
    display: flex;
}

.card {
    border: 2.5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.form-container {
    align-items: center;
    justify-content: center;
}

.img-card-price {
    font-weight: bolder;
    font-size: 1.8rem;
}