img {
    width: 200px;
}

form {
    width: 100%;
    margin-right: 3rem;
}

main {
    margin: 0 auto;
    margin-right: 4rem;
}

h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

input {
    margin-bottom: 15px;
}

p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

button {
    height: 2.5rem;
    width: 6.5rem;
    margin-left: 2.5em;
    background-color: hsl(225, 100%, 55%);
    color: white;
}

footer p {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: .75;
}

footer p a {
    text-decoration: none;
    color: black;
}

footer p a:hover {
    color: blue;
    font-size: 16px;
}

.img-container {
    text-align: center;
}

.form-container {
    align-items: center;
    justify-content: center;
}

.card {
    border: 2.5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.img-card-price {
    font-weight: bolder;
    font-size: 1.8rem;
}

.flex-container {
    margin-left: 4rem;
}

.contact-phones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 3rem;
    padding-left: 3rem;
}



